/* CSS Document */
/*------个人中心----------*/
.member{ width:860px; padding-top:10px;}
.member .left{ width:500px;float:left;}
.member .right{ width:320px; float:right; padding:10px 14px; border:1px solid #ddd;}
.member .personal{ width:478px;height:332px; border:1px solid #dddddd; padding:10px;}
.member .personal .portrait{ float:left; padding:4px 21px 23px 9px;}
.member .personal p{ padding-top:15px;}
.member .personal p .exit{ padding-left:15px;}
.member .personal p .exit a{ color:#02abee;}
.member .personal ul{ float:left; margin-top:15px; font-size:14px; font-weight:bold;}
.member .personal ul li a{ color:#333;}
.member .personal ul li { width:80px; height:25px; line-height:25px; padding-left:30px; float:left;}
.member .personal ul li.m_phone{ background:url(../images/m_phone.png) left center no-repeat;}
.member .personal ul li.m_email{ background:url(../images/m_email.png) left center no-repeat;}
.member .personal ul li.m_personal{ background:url(../images/m_personal.png) left center no-repeat;}
.member .personal .unread{ float:left; margin:24px 0; width:175px; height:16px; border:1px solid #e1e1e1; background:#f9f9f9; padding:10px; text-align:center;}
.member .personal .unread span{ padding:0 8px;}
.member .personal .unread a{ color:#f00;}
.member .personal .sum{ border-top:1px solid #ddd; padding:3px 0; font-size:14px; color:#666; font-weight:bold}
.member .personal .sum p {border-top:1px solid #ddd;}
.member .personal .sum table tr td{ padding:8px 0;}
.member .process{ width:320px; height:307px; background:url(../images/m_map.png) no-repeat; color:#FFF; padding-top:25px; }
.member .process a{ color:#FFF; width:77px; display:block; height:25px; line-height:25px;}
.member .process table tr td{ padding-top:25px;}
.member .recent_order{ width:860px; padding-top:10px;}
.member .recent_order tr td{ border:1px solid #ddd;}
/*------批量上传----------*/
.batch{ width:860px;}
.batch .download,.batch .upload{ width:858px; border:1px solid #dedede; margin-top:10px;}
.batch .download h3,.batch .upload h3{ width:838px; height:28px; line-height:28px; padding-left:20px; background:#f8f8f8; font-size:14ppx; color:#333; border-bottom:1px solid #dedede;}
.batch .download h3 span,.batch .upload h3 span{ font-size:12px; font-weight:normal; color:#F00; padding-left:5px;}
.batch .download ul{ padding:10px 19px;}
.batch .download ul li{ width:200px; float:left; height:36px; line-height:36px; font-size:14px; font-weight:bold; color:#02abee;}
.batch .upload ul{ padding:10px 20px;}
.batch .upload ul li{ line-height:30px;}
.batch .upload .type select{ margin:10px 0; margin-left:10px; width:160px;}
.batch .upload .type span{ color:#F00; padding-right:10px;}
.batch .upload .custom{ margin:0 10px; width:806px; padding:15px; background:#f8f8f8; border:1px solid #dedede;}
.batch .upload .custom p{ font-size:14px; font-weight:bold; color:#F00; padding-left:10px;}
.batch .upload .custom p span{ font-size:12px; font-weight:normal; color:#333; padding-right:5px; line-height:36px;}
.batch .upload .custom font{ padding-left:10px; line-height:36px; height:36px;}
.batch .upload .up{ margin:20px 0 20px 60px; width:103px; height:27px; border:none; background:url(../images/upload.png);}
.white_content { 
display: none; 
width: 40%; 
height: 30%; 
padding: 10px;
border: 2px solid #666A76; 
background-color:#E0E0E0; 
z-index:1002; 
overflow: auto;
}
/*------新建订单----------*/
.order{ width:860px; padding-top:10px;}
.order .nir{ width:818px; border:1px solid #dedede; background:#f8f8f8; padding:20px 20px 5px;}
.order table tr td{ padding-bottom:15px;}
.courier{ width:860px; padding-top:10px;}
.courier .left{ width:425px; float:left;}
.courier .right{ width:425px; float:right;}
.courier .nir{ width:393px; border:1px solid #dedede; padding:15px 15px 0;}
.courier table tr td{ padding-bottom:0px;}
.goods{ width:860px; padding-top:10px;}
.goods table{ border-collapse:collapse;}
.goods table tr td{ border:1px solid #dedede; height:25px; line-height:25px; text-align:center;}
.goods table tr td a{ padding:0 10px; color:#d42c96; text-decoration:underline;}
.pop_up{ padding:20px;}
.pop_up h3{ float:left; font-size:12px; font-weight:normal;}
.pop_up a{ font-size:14px; font-weight:bold; color:#02abee; text-decoration:underline;}
.pop_up span{ display:block;}
.pop_up span a{ display:block; width:18px; height:18px; float:left; background:url(../m_images/icon11.png);background-repeat: no-repeat;}
.Submit{ text-align:center;width:103px; border:none; height:27px; background:url(../order_images/submit.png);background-repeat: no-repeat;margin-left:372px;}
.detailed{ width:860px; padding:20px 0 10px 0;}
.detailed ul{ width:818px; border:1px solid #dedede; background:#f8f8f8; padding:10px 20px;}
.detailed ul li { height:25px; line-height:25px; padding:8px 0;}
/*------ order-qeury right界面    ------*/
.query{ width:860px; padding-top:10px;}
.query .condition{ width:818px; border:1px solid #dedede; background:#f8f8f8; padding:20px 20px 5px;}
.query .condition table tr td{ padding-bottom:15px;}
/**************2016-11-25 start by wukq*******************/
.query .button0{ padding-top:10px;}
.query .button0 ul{ width:548px; border:1px solid #dedede; background:#f8f8f8; padding:10px 155px; height:27px;}
.query .button0 ul li{ float:left; padding:0 40px;}
.query .button0 ul li button{ color:#FFF; width:69px; height:27px; line-height:27px; background:url(../images/button_bg.png); border:none; }

.query .button1 { padding-top:10px;}
.query .button1 ul{ width:820px; border:1px solid #dedede; background:#f8f8f8; padding:10px 20px; height:27px;}
.query .button1 ul li{ float:left;padding:0 10px;}
.query .button1 ul li button{ color:#FFF; width:69px; height:27px; line-height:27px; background:url(../images/button_bg.png); border:none; }

.query .button2 { padding-top:10px;}
.query .button2 ul{ width:730px; border:1px solid #dedede; background:#f8f8f8; padding:10px 65px; height:27px;}
.query .button2 ul li{ float:left;padding:0 15px;}
.query .button2 ul li button{ color:#FFF; width:69px; height:27px; line-height:27px; background:url(../images/button_bg.png); border:none; }

.query .button3 { padding-top:10px;}
.query .button3 ul{ width:730px; border:1px solid #dedede; background:#f8f8f8; padding:10px 65px; height:27px;}
.query .button3 ul li{ float:left;padding:0 10px;}
.query .button3 ul li button{ color:#FFF; width:69px; height:27px; line-height:27px; background:url(../images/button_bg.png); border:none; }

.query .button4 { padding-top:10px;}
.query .button4 ul{ width:730px; border:1px solid #dedede; background:#f8f8f8; padding:10px 65px; height:27px;}
.query .button4 ul li{ float:left; padding:0 60px;}
.query .button4 ul li button{ color:#FFF; width:69px; height:27px; line-height:27px; background:url(../images/button_bg.png); border:none; }

.query .button5 { padding-top:10px;}
.query .button5 ul{ width:730px; border:1px solid #dedede; background:#f8f8f8; padding:10px 65px; height:27px;}
.query .button5 ul li{ float:left;padding:0 20px;}
.query .button5 ul li button{ color:#FFF; width:69px; height:27px; line-height:27px; background:url(../images/button_bg.png); border:none; }
/*********打印标签界面***************/
.print_format{ width:198px; border:1px solid #02abee;background:#D3EEF9; }
.print_format .print_format{ width:186px; border:1px solid #FFF; padding:10px 0 10px 10px; background:#D3EEF9; }
.print_format h3{ font-size:14px; color:#02abee;}
.print_format ul{ padding:10px 5px;}
.print_format ul li{ line-height:25px;}
.print_format .print_button{}
.print_format .print_button .buttonbg{ color:#FFF; width:57px; height:27px; line-height:27px; background:url(../images/print_button.png); border:none; margin:0 5px; }


/*************End ********************/




.all_orders{ width:860px; padding-top:10px;}
.all_orders ul{ border-bottom:2px solid #02abee; width:860px; height:28px;}
.all_orders ul li{ width:85px; padding:0 5px; float:left; height:28px; line-height:30px; text-align:center; font-size:14px; font-weight:bold;}
.all_orders ul li.first { padding-left:0px;}
.all_orders ul li a{ color:#333; display:block; width:85px; height:28px; background:url(../images/order_bg01.png);}
.all_orders ul li a:hover,.all_orders ul li.first a{ color:#FFF; background:url(../images/order_bg.png);}
.all_orders table{ border-collapse:collapse; margin-top:5px;}
.all_orders table tr td{ border:1px solid #dedede; height:30px; line-height:25px; text-align:center;}
.all_orders ul li a{font:"微软雅黑";font-size:14px; font-weight:bold;}

/*------问题件管理------*/
.problem{ width:860px; padding-top:10px;}
.problem .condition{ width:818px; border:1px solid #dedede; background:#f8f8f8; padding:20px;}
.problem .condition .left{ width:280px; float:left;}
.problem .condition h3{ float:left; font-size:12px; font-weight:normal; padding-right:10px; line-height:20px;}
.problem .condition table{ width:520px; float:right;}
.problem .condition table tr{ height:24px; overflow:hidden;}
.problem .condition table tr td{ height:24px; line-height:24px;}
.order_box{ width:170px; height:100px; font-size:12px; padding:5px; line-height:20px;}
/*问题件回复*/
.reply{ width:860px;}
.reply .explain,.reply .all_reply{ width:860px; margin-top:10px;}
.reply .explain h3,.reply .all_reply h3{ width:838px; height:28px; line-height:28px; padding-left:20px; background:#f8f8f8; font-size:14ppx; color:#333;  border:1px solid #dedede; border-bottom:none;}
.reply table{ border-collapse:collapse;} 
.reply table tr td{ border:1px solid #dedede; height:33px; line-height:25px; text-align:center;}
.reply .add_reply{ margin-top:10px; width:858px; border:1px solid #dedede;}
.reply .add_reply h3{ width:838px; height:28px; line-height:28px; padding-left:20px; background:#f8f8f8; font-size:14px; color:#333333; border-bottom:1px solid #dedede;}
.reply .all_reply h3 span{ font-size:12px; font-weight:normal; color:#F00; padding-left:5px;}
.reply .add_reply textarea{ margin:15px 147px; width:563px; padding:10px; height:112px; background:url(../images/tracing_bg.png) no-repeat; border:none; font-size:14px; color:#999999; line-height:22px; overflow-y:hidden; border-radius:6px; resize: none; outline: none; }
.reply .add_reply .reply_button{ text-align:center; padding-bottom:15px;}
.reply .add_reply .reply_button .rebutton{ border:none; width:69px; color:#fff; height:27px; line-height:27px; background:url(../images/re_button.png);}
.reply .add_reply .adjunct{ padding-left:20px;}
.reply .add_reply .adjunct font{ font-size:14px; font-weight:bold; line-height:25px;}
.reply .add_reply .adjunct input{ padding-bottom:5px;}
.reply .add_reply .line_button{ text-align:center; padding:15px 0;}
.reply .add_reply .line_button .buttonbg{ margin:0 15px;}
/*------订单回收站------*/
.recycle{ width:860px; padding-top:10px;}
.recycle .condition{ width:818px; border:1px solid #dedede; background:#f8f8f8; padding:20px 20px 5px;}
.recycle .condition table tr td{ padding-bottom:15px;}
.recycle .condition table tr td span{ padding-left:7px;}
.recycle .button .buttonbg{ margin:0 10px;}
.recycle .result{overflow: scroll; width: 860px; height: 335px; margin-top:10px;}
.recycle .result table{ border-collapse:collapse; }
.recycle .result table tr td{ padding:5px 0; border:1px solid #ddd; text-align:center;}
.recycle .result table tr td a{ color:#333;}
/*------提货单查询------*/
.lading .all_orders{ padding-top:0px;}
.lading{ width:860px; padding-top:10px;}
.lading  .condition{ width:818px; border:1px solid #dedede; background:#f8f8f8; padding:20px 20px 5px;}
.lading  .condition table tr td{ padding-bottom:15px;}
.lading  .condition table tr td span{ padding-left:7px;}
.lading  .button .buttonbg{ margin:0 10px;}
.lading .result{overflow: scroll; width: 860px; height: 335px; margin-top:10px;}
.lading .result table{ border-collapse:collapse; }
.lading .result table tr td{ padding:5px 0; border:1px solid #ddd; text-align:center;}
.lading .result table tr td a{ color:#333;}
/*------轨迹追踪------*/
.tracing{ width:860px; padding-top:10px;}
.tracing .search{ width:564px; border:1px solid #ddd; padding:15px 147px; background:#f8f8f8;}
.tracing .search textarea{ width:544px; padding:10px; height:91px; background:url(../images/tracing_bg.png) no-repeat; border:none; font-size:14px; color:#999999; line-height:22px; overflow-y:hidden; border-radius:6px; resize: none; outline: none; }
.tracing .search .line_button{ width:564px; text-align:center; padding-top:15px;}
.tracing .search .line_button .buttonbg{ margin:0 10px;}
.tracing .center_table .show{ width:48px; height:25px; border:none; background:url(../images/show.png);}
/*------运费测算------*/
.freight{ width:860px; padding-top:10px;}
.freight .nir{ width:818px; border:1px solid #dedede; background:#f8f8f8; padding:20px 20px 5px;}
.freight table tr td{ padding-bottom:15px;}
.long_result{width: 860px; height: 335px; margin-top:10px;}
.long_result table{ border-collapse:collapse; }
.long_result table tr td{ padding:5px 0; border:1px solid #ddd; text-align:center;}


/*------我的资料------*/
/*基本信息*/
.pro_button{ width:103px; height:27px; line-height:25px; font-size:14px; color:#FFF; font-weight:bold; text-align:center; background:url(../images/profile_button.png); border:none; margin:15px 0 0 85px;}
.profile{ width:860px; padding-top:10px;}
.headline{ width:100%;}
.headline ul{ border-bottom:2px solid #02abee; width:860px; height:28px;}
.headline ul li{ width:85px; padding-right:10px; float:left; height:28px; line-height:30px; text-align:center; font-size:14px; font-weight:bold;}
.headline ul li.first { padding-left:0px;}
.headline ul li a{ color:#333; display:block; width:85px; height:28px; background:url(../images/order_bg01.png);}
.headline ul li a:hover,.headline ul li.first a{ color:#FFF; background:url(../images/order_bg.png);}
.profile .matter{ width:818px; border:1px solid #dedede; border-top:none; padding:20px;}
.profile .matter .left{ float:left; width:116px; padding:20px;}
.profile .matter .left span{ width:116px; height:50px; line-height:50px; display:block; text-align:center; font-size:14px; font-weight:bold;}
.profile .matter .left span a{ color:#02abee;}
.profile .matter .right{ width:660px; float:right; padding-top:10px;}
.profile .matter ul li,.profile .password ul li{ height:40px; line-height:40px;}
.profile .matter ul li span,.profile .password ul li span{ width:80px; display:block; float:left; text-align:right; padding-right:5px;}
/*手机号修改*//*邮箱认证*/
.profile ul.number_change{ padding-left:30px; width:750px;}
.profile ul.number_change li span{ width:120px;}
.profile ul.number_change li span font{ display:inline; color:#ff0000; padding-right:5px; font-weight:normal;}
.profile .matter ul.number_change li .obtain{ width:102px; background:#01b0ee; border:none; color:#fff; margin-left:3px;}
/*实名认证*/
.profile .matter .prompt{ width:796px; border:1px solid #f6c4e3; background:#f9eef5; text-align:center; padding:10px; color:#d42c96; font-weight:bold;}
.profile .matter .state{ width:788px; margin:15px 0; padding:10px; padding-left:20px; font-weight:bold; background:#02abee; color:#fff;}
/*实名认证*/
.profile .matter .message{ width:816px; border:1px solid #dedede; padding-bottom:20px;}
.profile .matter .message h3{ width: 796px; padding-left:20px; height:28px; line-height:28px; border-bottom:1px solid #dedede; background:#f8f8f8; margin-bottom:15px;}
.profile .matter .message table{ margin-left:153px;}
.profile .matter .message table tr td{ padding:5px 0;}
/*------修改密码------*/
.profile .password{ width:818px; border:1px solid #dedede; padding-bottom:20px; padding:20px; background:#f8f8f8;}
.profile .password ul.number_change li em{ font-style:normal; color:#666666;}
.profile .password ul li.note{ padding:8px 0 45px 0;}
.profile .password ul li.note textarea{ width:350px; height:80px; border:1px solid #adaeae; line-height:20px; padding-left:3px;}
/*------收发货地址------*/
.profile .address{ width:818px; border:1px solid #dedede; background:#f8f8f8; padding:20px 20px 10px;}
.profile .address p{ font-weight:bold; color:#d42c96; padding-left:70px;}
.profile .address p span{ font-weight:normal; color:#333333; padding-left:10px;}
.profile .address p span font{ color:#F00;}
.profile .address table{ margin:10px 0 0 50px;}
.profile .address table tr td{ height:26px; line-height:26px; padding:7px 0;}
.profile .address table tr td span{ width:80px; display:block; float:left; text-align:right; padding-right:5px;}
.profile .address table tr td span font{ color:#F00; padding-right:5px;}
.profile .address table tr td .pro_button{ margin:0 0 0 85px;} 
.profile .goods table tr td a{ text-decoration:none; color:#02abee;}
/*------添加新用户------*/
.profile .password .add_but{ margin:15px 0 0 145px;}
.profile .password .add_button{ width:69px; height:27px; color:#fff; font-weight:bold; background:url(../images/button_bg.png); border:none; line-height:25px; margin:0 10px;}
/*------账户余额------*/
.balance{ padding-top:10px; width:100%;}
.balance .nir{ width:838px; padding:10px; border:1px solid #dedede; background:#f8f8f8; height:27px;}
/*------HZL 批量上传结果页面用------*/
.balance .nir2{ width:838px; padding:10px; border:1px solid #dedede; background:#f8f8f8; height:70px;}
.balance .nir h3{ float:left; height:27px; line-height:27px;}
.balance .nir h3 font{ color:#d42c96; padding:0 3px;}
.balance .nir button.top-up{ float:right; width:57px; height:27px; background:url(../images/top-up.png); border:none;}
.balance table{ border-collapse:collapse;}
.balance table tr td{ padding:5px 0; border:1px solid #ddd; text-align:center;}
/*------账户充值------*/
.recharge{ width:100%; padding-top:10px;}
.recharge .nir{ width:818px; padding:20px; border:1px solid #dedede; background:#f8f8f8;}
.recharge .money{ padding-bottom:15px; height:26px; line-height:26px;}
.recharge .money font{ padding:0 5px; font-family: "Microsoft Yahei"}
.recharge .money span{ color:#02abee;}
.recharge .headline{ width:798px; padding-top:15px;}
.recharge .headline ul{ width:798px;}
.recharge .payment{ width:778px; padding:10px;}
.recharge .payment .left{ float:left; width:250px;}
.recharge .payment .left .pay span{ display:block; float:left; height:41px; line-height:41px;}
.recharge .payment .left .sum{ padding-top:200px;}
.recharge .payment .left .sum font{ font-size:24px; font-weight:bold; color:#d42c96; padding-right:5px;}
.payment  .button2{ width:103px; height:27px; line-height:25px; font-size:14px; color:#FFF; font-weight:bold; text-align:center; background:url(../images/profile_button.png); border:none; }
.recharge .payment .right{ float:right; width:508px; padding-top:20px;}
.recharge .payment .right p{ width:325px; padding-top:10px;color:#02abee; font-weight:bold;}
/*------账单查询------*/
.bill .condition{ width:818px; border:1px solid #dedede; background:#f8f8f8; padding:15px 20px; margin-top:10px;}
.bill .all_orders span.sum{ height:30px; line-height:30px; float:right; font-size:14px; font-weight:bold; color:#d42c96; padding-right:5px;}
/*支付宝充值结果*/
.success { padding-top:10px;}
.forwarding .success .r_title{ background:url(../images/success_tit.jpg);}
.success .nir{ width:818px; padding:20px; border:1px solid #dedede; background:#f8f8f8;}
.success .nir h3{font-family: "Microsoft Yahei"; font-size:18px; color:#F00; text-align:center; padding-bottom:10px;}
.success table#pay_success tr td{ padding:5px 0;}
.success .pay_button{ width:818px; text-align:center;}
.success .pay_button .pro_button{ margin:15px 0 0;}
/*********2016-12-09,start by wukq******************/
.balance .bill_nir{ width:838px; padding:10px; border:1px solid #dedede; background:#f8f8f8; height:70px;}
.balance .bill_nir ul li{ width:838px; background:#f8f8f8; height:25px;}
.balance .bill_nir ul li h3{width:400px;}

/**********2016-12-09,End****************/